{
  "openapi": "3.1.0",
  "info": {
    "title": "AcornOps Control Plane API",
    "version": "0.0.1-experimental.1",
    "description": "Control plane API for workspaces, targets, Kubernetes clusters, virtual machines, sessions, runs, auth, and internal execution wiring."
  },
  "servers": [
    {
      "url": "https://api.acornops.dev"
    }
  ],
  "tags": [
    {
      "name": "health",
      "description": "Health and readiness endpoints."
    },
    {
      "name": "auth",
      "description": "OIDC, password, browser session, and external integration account link endpoints."
    },
    {
      "name": "workspaces",
      "description": "Workspace, target, Kubernetes cluster, and VM management endpoints."
    },
    {
      "name": "webhooks",
      "description": "Durable webhook subscriptions, lifecycle-aware delivery, and attempt history."
    },
    {
      "name": "sessions",
      "description": "Session and message endpoints."
    },
    {
      "name": "runs",
      "description": "Run query, cancel, and stream endpoints."
    },
    {
      "name": "workflows",
      "description": "Workspace workflow definitions, schedules, sessions, and approval inbox endpoints."
    },
    {
      "name": "catalog",
      "description": "MCP registries, destination-bound browsing, scoped MCP imports, and credential connections."
    },
    {
      "name": "agents",
      "description": "Workspace-scoped custom agent definitions, triggers, versions, tests, and activity."
    },
    {
      "name": "admin",
      "description": "Operator-only admin API protected exclusively by admin bearer tokens."
    },
    {
      "name": "internal",
      "description": "Internal execution endpoints for execution-engine."
    }
  ],
  "paths": {
    "/api/v1/agents/{agentId}": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "Get an agent definition",
        "description": "Returns a reusable specialist capability profile by ID.",
        "security": [
          {
            "userSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PathAgentId"
          },
          {
            "$ref": "#/components/parameters/QueryWorkspaceId"
          },
          {
            "$ref": "#/components/parameters/QueryQ"
          },
          {
            "$ref": "#/components/parameters/QueryLimit2"
          },
          {
            "$ref": "#/components/parameters/QueryCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent detail.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "description": "Agent not found or is system-owned coordination infrastructure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "patch": {
        "tags": [
          "agents"
        ],
        "summary": "Update an agent definition",
        "description": "Workspace Agents accept definition edits, including defaults created with a workspace. MCP servers and skills are managed through the nested Agent capability APIs.",
        "security": [
          {
            "userSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PathAgentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentMutation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "description": "Requires manage_agents.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "description": "The requested change conflicts with an active assignment or policy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "delete": {
        "tags": [
          "agents"
        ],
        "summary": "Delete an unassigned agent definition",
        "security": [
          {
            "userSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PathAgentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "workspaceId"
                ],
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "format": "uuid",
                    "example": "4b930d98-add9-4924-ab26-3c16d96ec373"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Agent deleted."
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "description": "Requires manage_agents.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "description": "The Agent is still assigned to one or more dependent workflows.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/agents/{agentId}/duplicate": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "Duplicate an agent as a manual draft",
        "description": "Copies the effective definition only. Runs, triggers, activity, schedules, version history, and origin attribution are not copied.",
        "security": [
          {
            "userSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PathAgentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentDuplicateMutation"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom draft created and owned by the current user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "description": "Requires manage_agents.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "description": "The definition cannot be duplicated while its referenced capabilities are unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/agents/{agentId}/versions": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "List saved agent version snapshots",
        "security": [
          {
            "userSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PathAgentId"
          },
          {
            "$ref": "#/components/parameters/QueryWorkspaceId"
          },
          {
            "$ref": "#/components/parameters/QueryQ"
          },
          {
            "$ref": "#/components/parameters/QueryLimit2"
          },
          {
            "$ref": "#/components/parameters/QueryCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent version snapshots.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentVersionList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "description": "Requires read_workspace_data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "Snapshot the current agent version",
        "security": [
          {
            "userSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PathAgentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "workspaceId"
                ],
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "format": "uuid",
                    "example": "4b930d98-add9-4924-ab26-3c16d96ec373"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent version snapshot created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentVersionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/agents/{agentId}/versions/{versionId}/restore": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "Restore a saved agent version snapshot",
        "security": [
          {
            "userSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PathAgentId"
          },
          {
            "in": "path",
            "name": "versionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "workspaceId"
                ],
                "properties": {
                  "workspaceId": {
                    "type": "string",
                    "format": "uuid",
                    "example": "4b930d98-add9-4924-ab26-3c16d96ec373"
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent restored from snapshot as a new current version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "description": "Requires manage_agents.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/config": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Get runtime auth capabilities for the management console",
        "responses": {
          "200": {
            "description": "Enabled auth methods and display metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "oidcEnabled",
                    "oidcProviderName",
                    "passwordAuthEnabled",
                    "passwordSignupEnabled",
                    "passwordEmailVerificationRequired",
                    "passwordResetEnabled"
                  ],
                  "properties": {
                    "oidcEnabled": {
                      "type": "boolean",
                      "example": true
                    },
                    "oidcProviderName": {
                      "type": "string",
                      "example": "oidc"
                    },
                    "passwordAuthEnabled": {
                      "type": "boolean",
                      "example": true
                    },
                    "passwordSignupEnabled": {
                      "type": "boolean",
                      "example": true
                    },
                    "passwordEmailVerificationRequired": {
                      "type": "boolean",
                      "example": true
                    },
                    "passwordResetEnabled": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/csrf": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Issue a CSRF token for browser mutating requests",
        "responses": {
          "200": {
            "description": "Signed CSRF token. The same value is also set in a readable SameSite cookie.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "csrfToken"
                  ],
                  "properties": {
                    "csrfToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/external-integrations/link": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Create an external integration account link token",
        "description": "Client-token endpoint for a registered external integration client. The client submits its own stable external user id and receives a management-console URL that starts browser authentication.",
        "security": [
          {
            "externalIntegrationClientToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "externalUserId"
                ],
                "additionalProperties": false,
                "properties": {
                  "externalUserId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128,
                    "example": "slack-user-id"
                  },
                  "externalDisplayName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120,
                    "example": "John Tan"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Short-lived external integration account link URL for the user to open in a browser.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalIntegrationLinkCreation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid external integration account link payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid external integration client token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/external-integrations/link/complete": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Complete an external integration account link",
        "description": "Authenticated browser-session endpoint used by the management console after password or OIDC sign-in and explicit user approval. It consumes a valid short-lived external integration link token and binds the external user id to the signed-in AcornOps user.",
        "security": [
          {
            "userSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "additionalProperties": false,
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256,
                    "example": "intlink_random_abc123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "External integration account link completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalIntegrationLinkCompletion"
                }
              }
            }
          },
          "400": {
            "description": "Invalid external integration link completion payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "User session required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "410": {
            "description": "External integration link token is expired, consumed, invalidated, or unavailable."
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/external-integrations/link/preview": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Preview an external integration account link",
        "description": "Authenticated browser-session endpoint used by the management console to display safe consent metadata before explicit approval.",
        "security": [
          {
            "userSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "additionalProperties": false,
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256,
                    "example": "intlink_random_abc123"
                  },
                  "workspaceGrants": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "workspaceId",
                        "capabilities"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "workspaceId": {
                          "type": "string"
                        },
                        "capabilities": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Safe external integration link consent metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalIntegrationLinkPreview"
                }
              }
            }
          },
          "400": {
            "description": "Invalid external integration link preview payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "User session required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "410": {
            "description": "External integration link token is expired, consumed, invalidated, or unavailable."
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/external-integrations/links": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "List linked external integrations",
        "description": "Authenticated browser-session endpoint returning active external integration links for the signed-in user.",
        "security": [
          {
            "userSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Active external integration links.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalIntegrationLinkList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "description": "User session required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/external-integrations/links/{linkId}/grants": {
      "patch": {
        "tags": [
          "auth"
        ],
        "summary": "Replace external integration workspace grants",
        "description": "Authenticated browser-session endpoint that replaces the workspace grants for one active external integration link owned by the signed-in user.",
        "security": [
          {
            "userSession": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "linkId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "workspaceGrants"
                ],
                "additionalProperties": false,
                "properties": {
                  "workspaceGrants": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "workspaceId",
                        "capabilities"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "workspaceId": {
                          "type": "string"
                        },
                        "capabilities": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "External integration link grants replaced.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalIntegrationLinkGrantUpdate"
                }
              }
            }
          },
          "400": {
            "description": "Invalid grant payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "User session required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "description": "External integration link not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/external-integrations/links/unlink": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Unlink an external integration account",
        "description": "Authenticated browser-session endpoint that revokes one active external integration link owned by the signed-in user.",
        "security": [
          {
            "userSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "integrationClientId",
                  "provider",
                  "externalUserId"
                ],
                "additionalProperties": false,
                "properties": {
                  "integrationClientId": {
                    "type": "string"
                  },
                  "provider": {
                    "type": "string"
                  },
                  "externalUserId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "External integration link revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalIntegrationLinkRevocation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid unlink payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "User session required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "description": "External integration link not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/external-integrations/resolve": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Resolve an external user link",
        "description": "Client-token endpoint for a registered external integration client. The client submits its own stable external user id and receives whether that identity is durably linked to an AcornOps user.",
        "security": [
          {
            "externalIntegrationClientToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "externalUserId"
                ],
                "additionalProperties": false,
                "properties": {
                  "externalUserId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128,
                    "example": "slack-user-id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Linked or unlinked external integration account status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalIntegrationLinkResolution"
                }
              }
            }
          },
          "400": {
            "description": "Invalid external identity payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid external integration client token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/external-integrations/revoke": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Revoke an external integration account link",
        "description": "Client-token endpoint for a registered external integration client to revoke one identity link scoped to that client.",
        "security": [
          {
            "externalIntegrationClientToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "externalUserId"
                ],
                "additionalProperties": false,
                "properties": {
                  "externalUserId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128,
                    "example": "slack-user-id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "External integration link revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalIntegrationLinkRevocation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid external identity payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid external integration client token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "description": "External integration link not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/jwks.json": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "JWKS used by llm-gateway to validate run-scoped JWTs",
        "responses": {
          "200": {
            "description": "JWKS document.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Jwks"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Log out current session",
        "description": "Idempotently clears the current AcornOps session before returning a bounded local or OIDC navigation path.",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderXCsrfToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Current session cleared. OIDC sessions receive an opaque AcornOps handoff path.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthLogoutResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/methods": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "List current user authentication methods and account security capabilities",
        "security": [
          {
            "userSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Authentication methods for the current user. OIDC subjects are never returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "methods",
                    "capabilities"
                  ],
                  "properties": {
                    "methods": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "required": [
                              "type",
                              "username",
                              "lastChangedAt"
                            ],
                            "properties": {
                              "type": {
                                "const": "password"
                              },
                              "username": {
                                "type": "string"
                              },
                              "lastChangedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "lastLoginAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "required": [
                              "type",
                              "provider",
                              "emailAtLinkTime",
                              "linkedAt"
                            ],
                            "properties": {
                              "type": {
                                "const": "oidc"
                              },
                              "provider": {
                                "type": "string"
                              },
                              "emailAtLinkTime": {
                                "type": "string",
                                "format": "email"
                              },
                              "linkedAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "lastLoginAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        ]
                      }
                    },
                    "capabilities": {
                      "type": "object",
                      "required": [
                        "canChangePassword",
                        "canLinkOidc",
                        "canAddPassword"
                      ],
                      "properties": {
                        "canChangePassword": {
                          "type": "boolean"
                        },
                        "canLinkOidc": {
                          "type": "boolean"
                        },
                        "canAddPassword": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "description": "No user session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/oidc/callback": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "OIDC callback endpoint",
        "parameters": [
          {
            "in": "query",
            "name": "code",
            "required": true,
            "schema": {
              "type": "string",
              "example": "oidc-auth-code"
            }
          },
          {
            "in": "query",
            "name": "state",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "2ff4ac8b-0d2d-4cdf-be57-637789c97058"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session created and user returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSessionResponse"
                }
              }
            }
          },
          "302": {
            "description": "Session created and browser redirected, or SSO link completed."
          },
          "303": {
            "description": "Admission denied and browser redirected with auth_result=oidc_access_denied."
          },
          "400": {
            "description": "Missing callback parameters, invalid state, or missing OIDC email.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "The browser session that initiated explicit OIDC linking is no longer active.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "OIDC user login is disabled by platform policy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "OIDC authentication is not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "An account with the asserted email already exists, or the OIDC identity is already linked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/oidc/link/start": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Start explicit SSO linking for an existing password-backed account",
        "security": [
          {
            "userSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currentPassword"
                ],
                "properties": {
                  "currentPassword": {
                    "type": "string",
                    "format": "password"
                  },
                  "returnTo": {
                    "type": "string",
                    "example": "/settings"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns an OIDC authorization URL for the browser to follow.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OidcLinkStartResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "description": "Current password is incorrect.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Only password-backed accounts can connect SSO.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "OIDC authentication is disabled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "SSO is already connected.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too many attempts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/oidc/login": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Start OIDC login flow",
        "parameters": [
          {
            "in": "query",
            "name": "redirect_uri",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri",
              "example": "http://console.acornops.localhost:8088/api/v1/auth/oidc/callback"
            }
          },
          {
            "in": "query",
            "name": "return_to",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri",
              "example": "http://console.acornops.localhost:8088/"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirects to OIDC provider authorization endpoint."
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "description": "OIDC user login is disabled by platform policy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "OIDC authentication is not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/oidc/logout/callback": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Validate OIDC provider logout state and return to the management console",
        "parameters": [
          {
            "in": "query",
            "name": "state",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "303": {
            "description": "Redirects to the console with success or incomplete."
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/oidc/logout/start": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Consume an opaque logout handoff and redirect to the OIDC provider",
        "parameters": [
          {
            "in": "query",
            "name": "request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "303": {
            "description": "Redirects to the provider logout endpoint or to the console with local_only."
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/password/change": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Change the local password for a password-backed account",
        "security": [
          {
            "userSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currentPassword",
                  "newPassword"
                ],
                "properties": {
                  "currentPassword": {
                    "type": "string",
                    "format": "password"
                  },
                  "newPassword": {
                    "type": "string",
                    "format": "password",
                    "minLength": 15,
                    "maxLength": 1024
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password changed, session rotated, and other sessions revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccess"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload or password policy violation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Current password is incorrect.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Account has no local password credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "description": "Too many attempts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/password/forgot": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Request a password reset email",
        "description": "The response is enumeration-safe for unknown, OIDC-only, verified password, and pending password accounts. Only password-backed users receive a token.",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderXCsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "dev@acornops.local"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generic success or throttled response with optional resendAfterSeconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccess"
                }
              }
            }
          },
          "400": {
            "description": "Invalid email payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "description": "Password reset is disabled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/password/login": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Create a session using username/email and password",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderXCsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "identifier",
                  "password"
                ],
                "properties": {
                  "identifier": {
                    "type": "string",
                    "example": "dev"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "devpass"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session cookie set and user returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSessionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "description": "Invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Password account email has not been verified. Returns EMAIL_VERIFICATION_REQUIRED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "description": "Too many login attempts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/password/resend-verification": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Request another verification email",
        "description": "The response is enumeration-safe for unknown, already verified, and pending accounts.",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderXCsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "dev@acornops.local"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generic success or throttled response with optional resendAfterSeconds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccess"
                }
              }
            }
          },
          "400": {
            "description": "Invalid email payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/password/reset": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Set a new password using a password reset token",
        "description": "Reset tokens are bearer secrets. Successful reset verifies the account email, consumes outstanding reset and verification tokens for the same user/email, and revokes browser sessions.",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderXCsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "password"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "example": "base64url-reset-token"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 15,
                    "maxLength": 1024
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password updated. No new session is created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericSuccess"
                }
              }
            }
          },
          "400": {
            "description": "Invalid token, malformed payload, or password policy violation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "description": "Password reset is disabled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "410": {
            "description": "Token expired. Returns PASSWORD_RESET_TOKEN_EXPIRED."
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/auth/password/signup": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Create a user with password credentials",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderXCsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "username",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "dev@acornops.local"
                  },
                  "username": {
                    "type": "string",
                    "example": "dev"
                  },
                  "displayName": {
                    "type": "string",
                    "example": "Dev User"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 15,
                    "maxLength": 1024,
                    "example": "dev-password-12345"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created. Returns either an immediate session or verification_required when email verification is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid signup payload.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "description": "Email or username already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "description": "Verification email could not be delivered. Account remains pending verification."
          }
        }
      }
    },
    "/api/v1/auth/password/verify-email": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Verify a password-account email address and create a session",
        "description": "Verification tokens are bearer secrets. Browser clients must send them only over HTTPS outside local development.",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderXCsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "example": "base64url-verification-token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verified, session cookie set, and user returned with status=verified.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Token is invalid, already used, or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "410": {
            "description": "Token expired. Returns EMAIL_VERIFICATION_TOKEN_EXPIRED."
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/external-integrations/webhook-routes/connect": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "summary": "Connect an external integration webhook route and rotate matching signing secrets",
        "security": [
          {
            "externalIntegrationClientToken": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-acornops-external-user-id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "external-user-1"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "deliveryUrl"
                ],
                "properties": {
                  "deliveryUrl": {
                    "type": "string",
                    "format": "uri",
                    "example": "https://bot.example.com/acornops/webhooks/routes/route-token"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "External webhook route state. Connected subscriptions include freshly rotated signing secrets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalWebhookRouteConnection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "description": "Requires a linked external integration credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/external-integrations/webhook-routes/status": {
      "get": {
        "tags": [
          "webhooks"
        ],
        "summary": "Fetch live external integration webhook route status without returning signing secrets",
        "security": [
          {
            "externalIntegrationClientToken": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-acornops-external-user-id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "external-user-1"
            }
          },
          {
            "in": "query",
            "name": "deliveryUrl",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri",
              "example": "https://bot.example.com/acornops/webhooks/routes/route-token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "External webhook route state. Signing secrets are never included.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalWebhookRouteConnection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "description": "Requires a linked external integration credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/mcp/oauth/callback": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Complete an MCP OAuth authorization-code flow",
        "description": "Requires the initiating AcornOps user session and browser binding. Provider parameters are exchanged server-side and the browser is redirected to a safe console path.",
        "security": [
          {
            "userSession": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "state",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "iss",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri"
            }
          },
          {
            "in": "query",
            "name": "error",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "303": {
            "description": "Redirects to the canonical console with a stable OAuth result."
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "description": "The initiating AcornOps user session is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/mcp/oauth/client-metadata": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Read AcornOps MCP OAuth client metadata",
        "description": "CIMD document generated only from canonical deployment configuration. It contains no tenant, user, or secret data.",
        "responses": {
          "200": {
            "description": "OAuth client metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpOAuthClientMetadata"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "description": "Automatic MCP OAuth is disabled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/me": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Get current authenticated user",
        "security": [
          {
            "userSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current user details, including quota.workspaceMemberships.{used,limit}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "description": "No user session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/report-artifacts/{reportId}": {
      "get": {
        "tags": [
          "runs",
          "workflows"
        ],
        "summary": "Get report artifact metadata",
        "security": [
          {
            "userSession": []
          },
          {
            "externalIntegrationClientToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderXAcornopsExternalUserId"
          },
          {
            "in": "path",
            "name": "reportId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report metadata without report source or PDF bytes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportArtifactResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/report-artifacts/{reportId}/download": {
      "get": {
        "tags": [
          "runs",
          "workflows"
        ],
        "summary": "Render and stream a report artifact",
        "security": [
          {
            "userSession": []
          },
          {
            "externalIntegrationClientToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderXAcornopsExternalUserId"
          },
          {
            "in": "path",
            "name": "reportId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Freshly rendered PDF stream.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/runs/{runId}": {
      "get": {
        "tags": [
          "runs"
        ],
        "summary": "Get run state",
        "description": "Browser sessions receive the normal run detail. Linked external integrations receive a bounded projection; only the exact originating link and client receive the final assistant output and related usage metadata.",
        "security": [
          {
            "userSession": []
          },
          {
            "externalIntegrationClientToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderXAcornopsExternalUserId2"
          },
          {
            "$ref": "#/components/parameters/PathRunId"
          }
        ],
        "responses": {
          "200": {
            "description": "Run details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Run"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/runs/{runId}/approvals": {
      "get": {
        "tags": [
          "runs"
        ],
        "summary": "List write-tool approvals for a run",
        "description": "Returns pending and decided write-tool approvals. Approval listing follows workspace-read visibility. Browser sessions receive the full approval record; linked external integrations receive bounded control metadata without executable arguments, tool references or digests, actor identifiers, continuations, or tool results. An external integration may decide a troubleshooting approval or a Workflow pre-step/runtime tool_write approval only when the execution originated through the exact same link and client. Approval requires effective create_read_write_runs; the origin may reject with current workspace read access after write permission is removed.",
        "security": [
          {
            "userSession": []
          },
          {
            "externalIntegrationClientToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderXAcornopsExternalUserId2"
          },
          {
            "$ref": "#/components/parameters/PathRunId"
          }
        ],
        "responses": {
          "200": {
            "description": "Run tool approval list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunApprovalList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/runs/{runId}/approvals/{approvalId}/decision": {
      "post": {
        "tags": [
          "runs"
        ],
        "summary": "Approve or reject a pending write-tool approval",
        "description": "A linked external integration may decide only a troubleshooting write approval or Workflow pre-step/runtime tool_write approval whose run execution was requested through that exact integration link and client. Approvals require effective create_read_write_runs. The exact origin may reject while retaining workspace read access if write permission was removed. Browser-created, other-link/client, delegated specialist, scheduled, and system-triggered approvals remain unavailable. Browser responses contain the full approval record; external-integration success and conflict responses contain only the same bounded control metadata returned by the external approval list.",
        "security": [
          {
            "userSession": []
          },
          {
            "externalIntegrationClientToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderXAcornopsExternalUserId2"
          },
          {
            "$ref": "#/components/parameters/PathRunId"
          },
          {
            "in": "path",
            "name": "approvalId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "0f2e8f75-0d66-4f40-b3d0-f4c4661c43a1"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "decision"
                ],
                "properties": {
                  "decision": {
                    "type": "string",
                    "enum": [
                      "approved",
                      "rejected"
                    ]
                  }
                },
                "example": {
                  "decision": "approved"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decision recorded. Repeated identical decisions are idempotent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalDecision"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "description": "The actor lacks the permission needed for the decision, or an external integration is not the exact run/execution origin.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "description": "The approval was already decided, expired before the decision was recorded, or received a conflicting decision.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/runs/{runId}/cancel": {
      "post": {
        "tags": [
          "runs"
        ],
        "summary": "Cancel an in-flight run",
        "security": [
          {
            "userSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PathRunId"
          }
        ],
        "responses": {
          "202": {
            "description": "Cancellation accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAccepted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/api/v1/runs/{runId}/events": {
      "get": {
        "tags": [
          "runs"
        ],
        "summary": "List run events replay",
        "description": "Browser sessions receive the normal replay list. Linked external integrations receive sanitized lifecycle and approval metadata without prompts, reasoning, token deltas, raw tool arguments, or tool results.",
        "security": [
          {
            "userSession": []
          },
          {
            "externalIntegrationClientToken": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderXAcornopsExternalUserId2"
          },
          {
            "$ref": "#/components/parameters/PathRunId"
          }
        ],
        "responses": {
          "200": {
            "description": "Run events list.",
            "content": {
              "application/json": {
                "schema": {
[...]
