{
  "openapi": "3.1.0",
  "info": {
    "title": "AcornOps Control Plane API",
    "version": "0.0.1-experimental.1",
    "description": "Control plane API for workspaces, targets, Kubernetes clusters, virtual machines, sessions, runs, auth, and internal execution wiring."
  },
  "servers": [
    {
      "url": "https://api.acornops.dev"
    }
  ],
  "tags": [
    {
      "name": "health",
      "description": "Health and readiness endpoints."
    },
    {
      "name": "auth",
      "description": "OIDC, password, browser session, and external integration account link endpoints."
    },
    {
      "name": "workspaces",
      "description": "Workspace, target, Kubernetes cluster, and VM management endpoints."
    },
    {
      "name": "webhooks",
      "description": "Durable webhook subscriptions, lifecycle-aware delivery, and attempt history."
    },
    {
      "name": "sessions",
      "description": "Session and message endpoints."
    },
    {
      "name": "runs",
      "description": "Run query, cancel, and stream endpoints."
    },
    {
      "name": "workflows",
      "description": "Workspace workflow definitions, schedules, sessions, and approval inbox endpoints."
    },
    {
      "name": "catalog",
      "description": "MCP registries, destination-bound browsing, scoped MCP imports, and credential connections."
    },
    {
      "name": "agents",
      "description": "Workspace-scoped custom agent definitions, triggers, versions, tests, and activity."
    },
    {
      "name": "admin",
      "description": "Operator-only admin API protected exclusively by admin bearer tokens."
    },
    {
      "name": "internal",
      "description": "Internal execution endpoints for execution-engine."
    }
  ],
  "paths": {
    "/admin/v1/admin-audit-events": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "Search admin audit events",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "adminTokenId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "adminActorSubject",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "action",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "actionGroup",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "platform_settings_modified",
                "llm_provider_defaults_modified",
                "workspace_defaults_modified",
                "workspace_status_modified",
                "workspace_access_modified"
              ]
            },
            "description": "Fixed related-action group. Cannot be combined with action."
          },
          {
            "in": "query",
            "name": "outcome",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "success",
                "failure"
              ]
            }
          },
          {
            "in": "query",
            "name": "workspaceId",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Exact workspace ID. Retained for backward compatibility."
          },
          {
            "in": "query",
            "name": "workspaceQuery",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Exact workspace ID or case-insensitive workspace-name substring."
          },
          {
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/QueryCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Paged admin audit events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAuditEventPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/audit-events": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "Search workspace audit events across workspaces",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "category",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "eventType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "actorUserId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "objectType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/QueryCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Paged sanitized workspace audit events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceAuditEventPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/me": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "Inspect the current admin service credential and human administrator",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Admin token id, optional name, scopes, and enabled status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminMe"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/runs": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "Search runs across workspaces",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Paged safe run summaries without prompts or message bodies.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminRunPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/runs/{runId}": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "Get safe run detail",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Safe run detail without prompt or full tool argument content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminRun"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/runs/{runId}/cancel": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Cancel a run without workspace membership",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  },
                  "ticketRef": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Cancellation accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminMutationResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/runs/{runId}/mark-failed": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Break-glass terminalize a stuck run as failed",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  },
                  "ticketRef": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Run marked failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminMutationResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "description": "Run appears active and force was not set.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/system/config": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "Read sanitized admin-relevant config",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Secret-redacted effective config.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminConfig"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/system/llm-provider-defaults": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "List write-only platform LLM credential status",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Configured status for supported platform-default providers. Key values are never returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmProviderDefaultStatusList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/system/llm-provider-defaults/{provider}": {
      "put": {
        "tags": [
          "admin"
        ],
        "summary": "Replace a write-only platform-default LLM credential",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "apiKey",
                  "reason"
                ],
                "properties": {
                  "apiKey": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 4096,
                    "writeOnly": true
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated status for all platform-default providers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmProviderDefaultStatusList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "delete": {
        "tags": [
          "admin"
        ],
        "summary": "Delete a platform-default LLM credential",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated status for all platform-default providers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmProviderDefaultStatusList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "provider",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "openai",
              "anthropic",
              "gemini"
            ]
          }
        }
      ]
    },
    "/admin/v1/system/readiness": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "Read admin readiness",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Sanitized readiness details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminReadiness"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "description": "Dependency degraded."
          }
        }
      }
    },
    "/admin/v1/system/settings": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "List effective durable platform settings and deployment boundaries",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Typed platform setting states with effective values, source, version, and constraints.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformSettingList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/system/settings/{settingKey}": {
      "patch": {
        "tags": [
          "admin"
        ],
        "summary": "Set a durable platform setting override",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value",
                  "expectedVersion",
                  "reason"
                ],
                "properties": {
                  "value": {
                    "type": "object",
                    "description": "Typed setting override. kubernetes_rbac_additions accepts KubernetesRbacAdditionsOverride; the response value is the resolved effective catalog."
                  },
                  "expectedVersion": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated effective setting state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformSetting"
                }
              }
            }
          },
          "400": {
            "description": "Value is invalid or outside the deployment policy ceiling.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "description": "Optimistic setting version conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "delete": {
        "tags": [
          "admin"
        ],
        "summary": "Reset a durable platform setting to its deployment default",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "expectedVersion",
                  "reason"
                ],
                "properties": {
                  "expectedVersion": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Setting reset to its deployment default.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformSetting"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "description": "Optimistic setting version conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "settingKey",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "member_discovery",
              "ai_policy",
              "user_sign_in_methods",
              "kubernetes_rbac_additions"
            ]
          }
        }
      ]
    },
    "/admin/v1/system/workspace-defaults": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "List platform MCP server and skill defaults",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "kind",
            "schema": {
              "type": "string",
              "enum": [
                "mcp_server",
                "skill"
              ]
            }
          },
          {
            "in": "query",
            "name": "availableIn",
            "schema": {
              "type": "string",
              "enum": [
                "agents",
                "kubernetes",
                "virtual_machines"
              ]
            }
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret-free definitions used to initialize newly created workspaces.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceDefaultList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Add a platform MCP server, manual skill, or pinned Git skill default",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "kind",
                      "name",
                      "availableIn",
                      "source",
                      "reason"
                    ],
                    "properties": {
                      "kind": {
                        "type": "string",
                        "enum": [
                          "mcp_server"
                        ]
                      },
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 200
                      },
                      "availableIn": {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 3,
                        "uniqueItems": true,
                        "items": {
                          "type": "string",
                          "enum": [
                            "agents",
                            "kubernetes",
                            "virtual_machines"
                          ]
                        }
                      },
                      "source": {
                        "type": "object",
                        "required": [
                          "type",
                          "endpoint"
                        ],
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "https"
                            ]
                          },
                          "endpoint": {
                            "type": "string",
                            "format": "uri",
                            "maxLength": 2048
                          }
                        },
                        "additionalProperties": false
                      },
                      "reason": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 500
                      }
                    },
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "required": [
                      "kind",
                      "availableIn",
                      "source",
                      "files",
                      "reason"
                    ],
                    "properties": {
                      "kind": {
                        "type": "string",
                        "enum": [
                          "skill"
                        ]
                      },
                      "availableIn": {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 3,
                        "uniqueItems": true,
                        "items": {
                          "type": "string",
                          "enum": [
                            "agents",
                            "kubernetes",
                            "virtual_machines"
                          ]
                        }
                      },
                      "source": {
                        "oneOf": [
                          {
                            "type": "object",
                            "required": [
                              "type"
                            ],
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "manual"
                                ]
                              }
                            },
                            "additionalProperties": false
                          },
                          {
                            "type": "object",
                            "required": [
                              "type",
                              "provider",
                              "repoUrl",
                              "ref",
                              "commitSha"
                            ],
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "git"
                                ]
                              },
                              "provider": {
                                "type": "string",
                                "enum": [
                                  "github",
                                  "gitlab"
                                ]
                              },
                              "repoUrl": {
                                "type": "string",
                                "format": "uri",
                                "maxLength": 2048
                              },
                              "ref": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 255
                              },
                              "subpath": {
                                "type": "string",
                                "maxLength": 512
                              },
                              "commitSha": {
                                "type": "string",
                                "pattern": "^[0-9a-fA-F]{40}$"
                              }
                            },
                            "additionalProperties": false
                          }
                        ]
                      },
                      "files": {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 16,
                        "writeOnly": true,
                        "items": {
                          "type": "object",
                          "required": [
                            "path",
                            "content"
                          ],
                          "properties": {
                            "path": {
                              "type": "string",
                              "maxLength": 512
                            },
                            "content": {
                              "type": "string",
                              "maxLength": 32768,
                              "writeOnly": true
                            }
                          },
                          "additionalProperties": false
                        }
                      },
                      "reason": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 500
                      }
                    },
                    "additionalProperties": false
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created a future-workspace initialization default without skill contents or credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceDefault"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/system/workspace-defaults/{id}": {
      "patch": {
        "tags": [
          "admin"
        ],
        "summary": "Change whether or where a default will appear in newly created workspaces",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "anyOf": [
                  {
                    "required": [
                      "availableIn"
                    ]
                  },
                  {
                    "required": [
                      "enabled"
                    ]
                  }
                ],
                "properties": {
                  "availableIn": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 3,
                    "uniqueItems": true,
                    "items": {
                      "type": "string",
                      "enum": [
                        "agents",
                        "kubernetes",
                        "virtual_machines"
                      ]
                    }
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether this definition is copied into workspaces created after the change."
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated the future-workspace default; existing workspaces are unchanged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceDefault"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "description": "Workspace default not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "delete": {
        "tags": [
          "admin"
        ],
        "summary": "Remove a default from future workspace initialization",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Default removed; existing workspaces are unchanged."
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "description": "Workspace default not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ]
    },
    "/admin/v1/system/workspace-defaults/resolve-skill": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Resolve an allowed Git URL to a pinned workspace-default skill snapshot",
        "description": "Uses the deployment Git-host allowlist and anonymous provider API access.",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "repoUrl"
                ],
                "properties": {
                  "repoUrl": {
                    "type": "string",
                    "format": "uri",
                    "pattern": "^https://",
                    "maxLength": 2048
                  },
                  "ref": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "subpath": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 512
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pinned Markdown snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolvedGitSkill"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/targets": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "Search targets across workspaces",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Paged safe target summaries.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminTargetPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/targets/{targetId}/agent": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "Get safe target agent detail",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Agent detail without key hashes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminTargetAgent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/targets/{targetId}/agent-key/rotate": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Emergency rotate a target agent key",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  },
                  "ticketRef": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "One-time agent key and install instructions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminMutationResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/targets/{targetId}/agent/disconnect": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Force target agent reconnect",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  },
                  "ticketRef": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Disconnect result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminMutationResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/tooling/sync": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Reconcile built-in tooling",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  },
                  "ticketRef": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sync result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminMutationResult"
                }
              }
            }
          },
          "207": {
            "description": "Partial sync failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminMutationResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/users": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "Search users",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Paged safe user summaries.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUserPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/users/{userId}": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "Get safe user support detail",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Safe user detail without password hashes or reset tokens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUser"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/users/{userId}/sessions/revoke": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Revoke browser sessions for a user",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  },
                  "ticketRef": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session revocation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminMutationResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/workspaces": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "Search all workspaces",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Paged workspace support summaries.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminWorkspacePage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/workspaces/{workspaceId}": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "Get workspace support detail",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Safe workspace detail.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminWorkspace"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "description": "Workspace not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/workspaces/{workspaceId}/members": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "List governance-safe workspace members",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryLimit"
          },
          {
            "$ref": "#/components/parameters/QueryCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Paged workspace membership records with user display identity and role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminWorkspaceMemberPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "description": "Workspace not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      },
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Break-glass add workspace member",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  },
                  "ticketRef": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Membership created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceMember"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/workspaces/{workspaceId}/members/{userId}": {
      "delete": {
        "tags": [
          "admin"
        ],
        "summary": "Break-glass remove workspace member",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  },
                  "ticketRef": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Membership removed."
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "description": "Last-owner invariant would be violated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/workspaces/{workspaceId}/members/{userId}/role": {
      "patch": {
        "tags": [
          "admin"
        ],
        "summary": "Break-glass update workspace member role",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  },
                  "ticketRef": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Membership role updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceMember"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "description": "Last-owner invariant would be violated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/workspaces/{workspaceId}/plan": {
      "patch": {
        "tags": [
          "admin"
        ],
        "summary": "Change workspace plan",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  },
                  "ticketRef": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan changed with before/after data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminMutationResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid plan or current usage exceeds target plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/workspaces/{workspaceId}/quotas": {
      "patch": {
        "tags": [
          "admin"
        ],
        "summary": "Set or clear workspace quota overrides",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  },
                  "ticketRef": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quota overrides changed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminMutationResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/workspaces/{workspaceId}/restore": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Restore member access to a suspended workspace",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "workspaceName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "description": "When supplied, must exactly match the current workspace name."
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  },
                  "ticketRef": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace access restored with retained memberships.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminMutationResult"
                }
              }
            }
          },
          "400": {
            "description": "Workspace-name confirmation did not match.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "description": "Workspace is already active or lifecycle state changed concurrently.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    },
    "/admin/v1/workspaces/{workspaceId}/suspend": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "Suspend member access to a workspace without modifying workloads",
        "security": [
          {
            "adminBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "workspaceName",
                  "reason"
                ],
                "properties": {
                  "workspaceName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 500
                  },
                  "ticketRef": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace access suspended; memberships, targets, workloads, and audit history retained.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminMutationResult"
                }
              }
            }
          },
          "400": {
            "description": "Workspace-name confirmation did not match.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "description": "Workspace is already suspended or lifecycle state changed concurrently.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "QueryCursor": {
        "in": "query",
        "name": "cursor",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "QueryLimit": {
        "in": "query",
        "name": "limit",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100
        }
      }
    },
    "responses": {
      "Error400": {
        "description": "Error response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Error401": {
        "description": "Error response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Error403": {
        "description": "Error response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Error404": {
        "description": "Error response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Error409": {
        "description": "Error response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Error429": {
        "description": "Error response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Error500": {
        "description": "Error response.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "AdminAuditEvent": {
        "type": "object",
        "required": [
          "id",
          "action",
          "outcome",
          "requestId",
          "metadata",
          "occurredAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "adminTokenId": {
            "type": "string"
          },
          "adminActorIssuer": {
            "type": "string"
          },
          "adminActorSubject": {
            "type": "string"
          },
          "adminActorEmail": {
            "type": "string"
          },
          "adminActorDisplayName": {
            "type": "string"
          },
          "adminActorRole": {
            "type": "string",
            "enum": [
              "platform-admin",
              "platform-admin-viewer",
              "platform-admin-auditor"
            ]
          },
          "authenticationTime": {
            "type": "string",
            "format": "date-time"
          },
          "action": {
            "type": "string"
          },
          "outcome": {
            "type": "string",
            "enum": [
              "success",
              "failure"
            ]
          },
          "workspaceId": {
            "type": "string"
          },
          "workspaceName": {
            "type": "string"
          },
          "targetType": {
            "type": "string"
          },
          "targetId": {
            "type": "string"
          },
          "subjectType": {
            "type": "string"
          },
          "subjectId": {
            "type": "string"
          },
          "subjectDisplayName": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "requestId": {
            "type": "string"
          },
          "sourceIpHash": {
            "type": "string"
          },
          "userAgent": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "AdminAuditEventPage": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminAuditEvent"
            }
          },
          "nextCursor": {
            "type": "string"
          }
        }
      },
      "AdminConfig": {
        "type": "object",
        "properties": {
          "adminApiEnabled": {
            "type": "boolean"
          },
          "planCatalog": {
            "type": "object",
            "additionalProperties": true
          },
          "roleTemplateKeys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "authModes": {
            "type": "object",
            "additionalProperties": true
          },
          "retention": {
            "type": "object",
            "properties": {
              "conversationDays": {
                "type": "integer"
              },
              "webhookHistoryDays": {
                "type": "integer"
              },
              "workspaceAuditDays": {
                "type": "integer"
              },
              "targetMetricHistoryDays": {
                "type": "integer"
              }
            },
            "additionalProperties": true
          },
          "auditLogging": {
            "type": "object",
            "additionalProperties": true
          },
          "runPolicy": {
            "type": "object",
            "additionalProperties": true
          },
          "featureFlags": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "AdminMe": {
        "type": "object",
        "required": [
          "tokenId",
          "scopes",
          "adminApiEnabled"
        ],
        "properties": {
          "tokenId": {
            "type": "string"
          },
          "tokenName": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "actor": {
            "type": "object",
            "properties": {
              "issuer": {
                "type": "string"
              },
              "subject": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "displayName": {
                "type": "string"
              },
              "roles": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "scopes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "authenticatedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "adminApiEnabled": {
            "type": "boolean"
          }
        },
        "additionalProperties": true
      },
      "AdminMutationResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "before": {
            "type": "object",
            "additionalProperties": true
          },
          "after": {
            "type": "object",
            "additionalProperties": true
          },
          "result": {
            "type": "object",
            "additionalProperties": true
          },
          "revokedSessionCount": {
            "type": "integer"
          },
          "synced": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "failures": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "agentKey": {
            "type": "string",
            "description": "Returned only by emergency agent-key rotation."
          },
          "installInstructions": {
            "$ref": "#/components/schemas/InstallInstructions"
          }
        },
        "additionalProperties": true
      },
      "AdminReadiness": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "dependencies": {
            "type": "object",
            "additionalProperties": true
          },
          "adminAuditWrite": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "AdminRun": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "id",
              "workspaceId",
              "sessionId",
              "targetId",
              "targetType",
              "status"
            ],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "workspaceId": {
                "type": "string",
                "format": "uuid"
              },
              "sessionId": {
                "type": "string",
                "format": "uuid"
              },
              "targetId": {
                "type": "string",
                "format": "uuid"
              },
              "targetType": {
                "type": "string",
                "enum": [
                  "kubernetes",
                  "virtual_machine"
                ]
              },
              "clusterId": {
                "type": "string",
                "format": "uuid"
              },
              "status": {
                "type": "string"
              },
              "toolAccessMode": {
                "type": "string",
                "enum": [
                  "read_only",
                  "read_write"
                ]
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "startedAt": {
                "type": "string",
                "format": "date-time"
              },
              "completedAt": {
                "type": "string",
                "format": "date-time"
              },
              "cancelledAt": {
                "type": "string",
                "format": "date-time"
              },
              "error": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "additionalProperties": true
          }
        ],
        "description": "Support-safe run detail without prompts or full tool arguments."
      },
      "AdminRunPage": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminRun"
            }
          },
          "nextCursor": {
            "type": "string"
          }
        }
      },
      "AdminTarget": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "id",
              "workspaceId",
              "targetType",
              "name"
            ],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "workspaceId": {
                "type": "string",
                "format": "uuid"
              },
              "targetType": {
                "type": "string",
                "enum": [
                  "kubernetes",
                  "virtual_machine"
                ]
              },
              "name": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "connectionStatus": {
                "type": "string"
              },
              "latestSnapshot": {
                "$ref": "#/components/schemas/SnapshotReference"
              },
              "summary": {
                "type": "object",
                "additionalProperties": true
              },
              "permissions": {
                "type": "object",
                "additionalProperties": {
                  "type": "boolean"
                }
              }
            },
            "additionalProperties": true
          }
        ],
        "description": "Support-safe target summary."
      },
      "AdminTargetAgent": {
        "type": "object",
        "properties": {
          "target": {
            "$ref": "#/components/schemas/AdminTarget"
          },
          "agent": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "AdminTargetPage": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminTarget"
            }
          },
          "nextCursor": {
            "type": "string"
          }
        }
      },
      "AdminUser": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "id",
              "email",
              "displayName"
            ],
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "displayName": {
                "type": "string"
              },
              "emailVerified": {
                "type": "boolean"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              }
            },
            "additionalProperties": true
          }
        ],
        "description": "Support-safe user detail. Password hashes, reset tokens, and OIDC subjects are never returned."
      },
      "AdminUserPage": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminUser"
            }
          },
          "nextCursor": {
            "type": "string"
          }
        }
      },
      "AdminWorkspace": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Workspace"
          },
          {
            "type": "object",
            "required": [
              "virtualMachineCount",
              "lifecycleStatus"
            ],
            "properties": {
              "createdByDisplayName": {
                "type": "string"
              },
              "createdByEmail": {
                "type": "string"
              },
              "virtualMachineCount": {
                "type": "integer",
                "minimum": 0
              },
              "lifecycleStatus": {
                "type": "string",
                "enum": [
                  "active",
                  "suspended"
                ]
              },
              "suspendedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ],
        "description": "Support-safe workspace detail."
      },
      "AdminWorkspaceMemberPage": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkspaceMember"
            }
          },
          "nextCursor": {
            "type": "string"
          }
        }
      },
      "AdminWorkspacePage": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdminWorkspace"
            }
          },
          "nextCursor": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "retryable": {
                "type": "boolean"
              },
              "details": {
                "type": "object",
                "additionalProperties": true,
                "description": "Optional structured error details."
              }
            }
          }
        }
      },
      "InstallInstructions": {
        "type": "object",
        "properties": {
          "command": {
            "type": "string"
          },
          "environment": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "additionalProperties": true
      },
      "LlmProviderDefaultStatus": {
        "type": "object",
        "required": [
          "provider",
          "configured",
          "enabled",
          "source"
        ],
        "properties": {
          "provider": {
            "type": "string",
            "enum": [
              "openai",
              "anthropic",
              "gemini"
            ]
          },
          "configured": {
            "type": "boolean"
          },
          "enabled": {
            "type": "boolean"
          },
          "source": {
            "type": "string",
            "enum": [
              "platform_default",
              "none"
            ]
          }
        },
        "additionalProperties": false
      },
      "LlmProviderDefaultStatusList": {
        "type": "object",
        "required": [
          "providers"
        ],
        "properties": {
          "providers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LlmProviderDefaultStatus"
            }
          }
        },
        "additionalProperties": false
      },
      "PlatformSetting": {
        "type": "object",
        "required": [
          "key",
          "value",
          "deploymentDefault",
          "source",
          "version",
          "editable",
          "constraints"
        ],
        "properties": {
          "key": {
            "type": "string",
            "enum": [
              "member_discovery",
              "ai_policy",
              "user_sign_in_methods",
              "kubernetes_rbac_additions"
            ]
          },
          "value": {
            "type": "object",
            "additionalProperties": true
          },
          "deploymentDefault": {
            "type": "object",
            "additionalProperties": true
          },
          "overrideValue": {
            "type": "object",
            "additionalProperties": true
          },
          "source": {
            "type": "string",
            "enum": [
              "deployment_default",
              "runtime_override",
              "runtime_override_constrained"
            ]
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "updatedBy": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "editable": {
            "type": "boolean"
          },
          "constraints": {
            "type": "object",
            "additionalProperties": true
          },
          "warning": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "PlatformSettingList": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlatformSetting"
[...]
